./bin
./obj
AzureTable/bin
AzureTable/obj
AzureTable.sln
.vs/*
AzureQueue/AzureQueue/bin
AzureQueue/AzureQueue/obj
AzureQueue.sln
AzureQueue/.vs/*
AzureCORS/AzureCORS/bin
AzureCORS/AzureCORS/obj
AzureCORS.sln
AzureCORS/.vs/*