<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=az200test;AccountKey=mZvnlFTRkuwR5Ih7w8P4RAISyzLf5y+40Q2eoKmz9k6bjjyr2N20KLaTMcGv7obOeg1pD+AD5cyJhsjcg0MKCQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>