<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=az200test;AccountKey=4RvSc9I4Ayw0oGBtsUwCr0dFKDnbgJAVk2oW10QDMBMs6uBn/KtZGhp8C+fAcSaCtUGTIowAzJrwrHKmgWirXQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>